
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

a{
	text-decoration: none!important;
}

h1,h2,h3{
	margin:0;
	margin-bottom:0;
	padding:0;
}


.main-container{
	padding: 0!important;
	padding-top:2px!important;
}
.form-inline{
	display: inline-block;
	.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
}


.toolbanges{
	.icon{
		font-size: 22px;
	}
	float: left;
    height: 3.5em;
    line-height: 3.5em;
    a {
    	text-decoration: none;
    	float: inherit;
    	height: inherit;
    	line-height: inherit;
    	color: grey;
    	padding: 0px 20px;
    	padding-right: 25px;
    	font-weight: lighter;
    	&:hover {
        background-color: rgba(152, 151, 151, 0.06);
    	color: #696363;
    	}
    }

	    .badge {
	    display: inline-block;
	    min-width: 10px;
	    padding: 3px 7px;
	    font-size: 15px;
	    font-weight: lighter;
	    color: inherit!important;
	    line-height: 1;
	    vertical-align: middle;
	    white-space: nowrap;
	    text-align: center;
	    background-color: transparent;
	    border-radius: 10px;
		}
		.badge__badge {
		    color: #fff;
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    position: absolute;
		    top: -4px;
		    right: -13px;
		    border-radius: 50%;
		    height: 18px;
		    line-height: 11px;
		    width: 18px;
			font-size: 11px;}
		.badge--left{
			left: -12px;
		}


    }

.carousel {
    height: 300px!important;
}    

.pagination__item {
	width:30px!important;
	height: 30px!important;
	box-shadow: none!important;
}

.pagination__item--active{
	color:white!important;
	background-color: #1976d2!important;
	border:none!important;
}

